@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@500&display=swap');

/* Font optimization */
@font-face {
  font-family: 'Josefin Sans';
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
}

html {
  background-color: var(--bg-color);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.wrapperBack {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 45vh;
  opacity: 0.8;
}

.toplayer {
  z-index: 100;
}

.active {
  color: var(--link-color);
}

.MuiIconButton-colorPrimary {
  color: var(--txt-color) !important;
  opacity: 0.5;
}

.cursor {
  cursor: pointer;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--txt-color);
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--txt-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--txt-color);
}

//loader
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 40vh auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

//for ErrorBoundary
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
  color: var(--txt-color-sec);
  font-family: Roboto, sans-serif;
  h1 {
    font-size: 3rem;
  }
  strong {
    color: yellow;
    font-weight: 200;
  }
  a {
    color: yellow;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  .error {
    padding: 3vw;
    h1 {
      font-size: 1.6rem;
    }
    p {
      font-size: 14px;
    }
  }
}
