.container {
  margin: 10px;
}

.heading {
  margin: 10vh auto 1rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  h1 {
    color: var(--txt-color-sec);
    font-family: Roboto, sans-serif;
  }

  .themeSun {
    color: white;
    cursor: pointer;
  }

  .themeMoon {
    color: black;
    cursor: pointer;
  }
}

.input {
  background-color: var(--bg-card);
  min-width: 35vw;
  max-width: 75vw;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  padding: 15px;
  display: flex;
  align-items: center;

  .pen {
    color: var(--txt-color);
    font-size: 26px;
    cursor: pointer;
  }

  input {
    background-color: var(--bg-card);
    border: none;
    outline: none;
    color: var(--txt-color);
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin: 0 0 0 20px;
    width: 85%;
  }
}

.list {
  background-color: var(--bg-card);
  min-width: 35vw;
  max-width: 75vw;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.listItem {
  border-bottom: 1px solid var(--txt-color);
  padding: 10px 20px;
}

.listTxt {
  color: var(--txt-color);
  padding: 10px 15px;
  font-family: Josefin Sans, sans-serif;
}

.listTxtDone{
  color: var(--txt-color);
  padding: 10px 15px;
  font-family: Josefin Sans, sans-serif;
  text-decoration: line-through;
  opacity: 0.7;
}
.clear{
  cursor: pointer;
  display: none;
  color: var(--txt-color);
  opacity: 0.3;
}

.nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--bg-card);
  color: var(--txt-color);
  padding: 0 20px;

  p {
    opacity: var(--opacity);
    font-family: Josefin Sans, sans-serif;
  }

  .navItem {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    p {
      padding: 0 15px;
      cursor: pointer;
      opacity: 1;
      font-family: Josefin Sans, sans-serif;
    }
  }
}

.navMob {
  background-color: var(--bg-card);
  padding: 0 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;

  .navItemMob {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt-color);

    p {
      padding: 0 10px;
      cursor: pointer;
      font-family: Josefin Sans, sans-serif;
    }
  }
}

.footer {
  color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans, sans-serif;

  a {
    text-decoration: none;
    color: var(--footer);
  }
}
@media only screen and (max-width: 600px) {
  .heading {
    margin: 8vh auto 0;
  }

  .input {
    input {
      font-size: 16px;
    }
  }

  .nav{
    p{
      font-size: 14px;
    }
  }
}
