:root {
  --bg-color: #171717;
  --bg-card: #28203F;
  --link-color: #4F34B4;
  --txt-color: #C5C0DB;
  --txt-color-sec: #F4F4F4;
  --scrollbar-track: #1f2132;
  --scrollbar-thumb: #4f567e;
  --scrollbar-thumb-hover: #6c76ab;
}
