.container {
  margin: 10px;
}

.toplayer {
  z-index: 100;
}

.footer {
  color: var(--footer);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Josefin Sans, sans-serif;

  a {
    text-decoration: none;
    color: var(--footer);
  }
}
