.input {
  background-color: var(--bg-card);
  min-width: 35vw;
  max-width: 75vw;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  padding: 15px;
  display: flex;
  align-items: center;

  .pen {
    color: var(--txt-color);
    font-size: 26px;
    cursor: pointer;
  }

  input {
    background-color: var(--bg-card);
    border: none;
    outline: none;
    color: var(--txt-color);
    font-size: 20px;
    font-family: Josefin Sans, sans-serif;
    margin: 0 0 0 20px;
    width: 85%;
  }
}

@media only screen and (max-width: 600px) {
  .input {
    input {
      font-size: 16px;
    }
  }
}
